/* 
* global 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, pre {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
  padding: 0 16px;
}

/* 
* header 
*/

header {
  background-color: #0b0080;
  margin: auto -16px;
  padding: 1vw 32px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
}

header img {
  width: 3.5vw;
  padding-top: 10px;
}

header h1 {
  color: #fff;
  font-size: 3vw;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin: 0;
}

/* 
* footer 
*/

footer {
  text-align: center;
  width: 100%;
  margin: auto -1vw;
  margin-top: 5vw;
  padding: 1vw 2vw;
}

footer p {
  font-size: 1.3vw;
  color: #606060;
}

/* 
* title 
*/

#title {
  display: flex;
  margin-top: 2vw;
  justify-content: space-between;
  margin-top: 12vw;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

#title > h3 {
  font-size: 1.6vw;
}

.first-title-el {
  margin-left: 5vw;
  margin-right: 7vw;
}

.next-title-el {
  width: 20%;
  text-align: center;
}

/* 
* card 
*/

.card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 5vw;
  width: 90%;
  height: 20vw;
  align-items: center;
}

.card:hover {
  color: #0b0080;
  transition: 0.6s;
}

.card > img {
  height: 90%;
  border-radius: 5%;
}

.card > p {
  font-size: 1.3vw;
}

.card > pre {
  font-size: 1.3vw;
}

.first-card-el {
  margin-left: 1vw;
  margin-right: 2.3vw;
}

.next-card-el {
  width: 15%;
  text-align: center;
}
