* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
  padding: 0 16px;
}

header {
  background-color: #3021da;
  margin: auto -16px;
  padding: 1vw 32px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

header img {
  width: 3.5vw;
  padding-top: 10px;
}

header h1 {
  color: #fff;
  font-size: 3vw;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin: 0;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: auto -16px;
  padding: 1vw 32px;
  height: 2.5rem;
}

footer p {
  font-size: 1.3vw;
  color: #606060;
}

#title {
  display: flex;
  margin-top: 4vw;
  justify-content: space-around;
}

#title > h3 {
  font-size: 1.6vw;
}
